
.icon-plus:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-to-end:before { content: '\f010'; } /* '' */
.icon-to-start:before { content: '\f011'; } /* '' */
.icon-fast-forward:before { content: '\f012'; } /* '' */
.icon-fast-backward:before { content: '\f013'; } /* '' */