
/* Common */
* { font-family: 'Poppins', sans-serif; }
html, body { height: 100%; margin: 0; padding: 0; }
header { border-bottom: 1px solid #95AFC0; }
p { margin: 0; }
label { font-weight: bold; color: #726D71; }
.container { height: 100%; }
.main { display: flex; height: 100%; }
i { color: #74B9FF; }
i:hover { color: rgb(57, 137, 216); transition: 0.3s; }
footer { width: 100%; }
input[type="text"] { border: 1px solid #59598667; border-radius: 7px; padding: 3px 2px;}
input[type="text"]:focus { outline: none; border-color: #595986; }
textarea { border: 1px solid #59598667; resize: none; }
textarea:focus { outline: none; border-color: #595986; }


/* calendar */
.calendar-container { width: 70%; text-align: center; }
.move { display: flex; }
.move * { cursor: pointer; }
.move-day {display: flex; font-size: 3rem; justify-content: space-around; padding: 10px 0; }
.month-year { display: flex; padding: 0 10px; width: 400px; justify-content: center; }
.month-year label:nth-of-type(2) { padding-right: 20px; }
.month { position: relative; font-size: 2.5rem; font-weight: bold; }
.day-of-week { font-style: 2rem; margin-top: 30px; display: flex; justify-content: center; }
.week { width: 162px; }
.day { width: 63px; margin: 25px 50px 0 50px; }
.before, .after { color: #cacaca; }
#before-year, #after-year  { width: 90px; }
.weeks { display: flex; justify-content: center; }
.now { color: #726D71; cursor: pointer; }
.today { color: #74B9FF; }
.now:hover { transition-duration: 0.2s; background-color: rgb(57, 137, 216); color: #fff; border-radius: 1em; }
#choice { background-color: rgb(57, 137, 216); color: #fff; border-radius: 1em; }


/* todo */
.todo-container { width: 30%; text-align: center; border-left: 1px solid #95AFC0; opacity: 0; }
.choice-day { font-size: 3rem; padding: 10px 0; }
#todo { font-size: 2rem; }
.alert-today, .alert-next { opacity: 0; }
.todo-list { display: grid; row-gap: 0.1em; grid-template-columns: 100%; }
.todo-one { display: flex; margin-top: 3%; margin-left: 14%; }
.content { width:65%; }
.add-today, .delete-today, .add-next-day, .delete-next-day { font-size: 30px !important; }
.add-today, .add-next-day { margin: 0 5px; }
.todo-detail { width: 100%; }
.todo-detail-today {display: grid; justify-content: center;margin: 1em 0;}
.todo-detail-today > div { display: flex; }
.achievement { padding-bottom: 1em; }
#achievement-value { width: 20rem; }
.next-plen-list { display: grid; margin: 3em 0; border-top: 1px solid #000; row-gap: 1em; }
.next-plen-one { display: flex; margin-left: 20%; }

/* checkbox 관련 css */
.checks {position: relative;}

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0
}

.checks input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
    content: ' ';
    display: inline-block;
    width: 21px;  /* 체크박스의 너비를 지정 */
    height: 21px;  /* 체크박스의 높이를 지정 */
    line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius : 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
    content: '\2714';  /* 체크표시 유니코드 사용 */
    color: #99a1a7;
    text-shadow: 1px 1px #fff;
    background: #e9ecee;
    border-color: #adb8c0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    margin-right: 20px;
}

.checks.etrans input[type="checkbox"] + label:before {
    padding-right: 1;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
    opacity: .6;
    box-shadow: none;
    border-color: #6cc0e5;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked + label:before {
    padding-right: 10;
    position: relative;
    content: "";
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity:1;
    background: transparent;
    border-color:transparent #6cc0e5 #6cc0e5 transparent;
    border-top-color:transparent;
    border-left-color:transparent;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
